.app {
  width: 390px;
  height: 1036px;
  margin: auto;
  background-color:white;
}

.Header{
  display: flex;
  padding: 5px 0px;
  width: 390px;
  height: 44px;
  left: 0px;
  top: 41px;
}

.Content{
  padding: 5px;
  display: flex;
  flex-direction:column;

}

.Steps{
   margin-left: 10px;
}